[flake8]
max-line-length = 154
exclude = .git, */__pycache__/, */migrations/, urls.py, NewsPaper/manage.py, .idea/, venv/, local_settings.py, */cache_files/
ignore = D100, D101, D102, D103, D104, D105, D106, D107, D205, D200
per-file-ignores =
    config/settings.py:E226
    news/views.py:F405

application-import-names = NewsPaper

import-order-style = google
