{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    {% if my_ads %}
        {% trans 'My ads' %}
    {% else %}
        {% trans 'Ad board' %}
    {% endif %}
{% endblock title %}

{% block content %}
    <div class="container">
        <h2>
            {% if my_ads %}{% trans "My ads" %}{% else %}{% trans "Ad board" %}{% endif %}
        </h2>
    
        {% if user.is_authenticated and not user.is_banned %}
            <a href="{% url 'ad_create' %}" class="btn btn-primary">{% trans 'Add Ad' %}</a><br><br>
        {% elif user.is_banned %}
            <p>{% trans 'A banned user cannot create ads' %}</p>
        {% else %}
            <p>{% trans 'To create an ad, you must log in' %}</p>
        {% endif %}
        
        {# filter #}
        {% include 'ad_board/ad_board_filter.html' %}
        <br>

        {% if ad_list %}

            {# Ad board pagination #}
            {% include 'pagination.html' %}
            <br>

            {% for ad in ad_list %}
                <div class="ad-container" onclick="location.href='{% url 'ad_detail' ad.id %}'" style="cursor: pointer;">
                    
                    {# Ad card #}
                    {% if not my_ads %}
                        {# User badge #}
                        {% include 'users/user_badge.html' with user=ad.user ad=ad %}
                    
                        {# Ad body #}
                        <div class="ad-body">
                            <h5>{{ ad.title }}</h5>
                            <p class="category">{% trans 'Category' %}: {{ ad.category.category_name }}</p>
                            <p>{{ ad.text.html | truncatewords_html:200 | truncatechars_html:1170 | safe }}</p>
                        </div>
                    {% endif %}
                        <div class="ad-body">
                            <h5>{{ ad.title }}</h5>
                            {% trans 'published on' %}: 
                            {% if ad.is_published %}
                                {{ ad.date_published|date:"d M Y, H:i" }}
                            {% else %}
                                <span class="unpublished">{% trans 'unpublished' %}</span>
                            {% endif %}
                            <p class="category">{% trans 'Category' %}: {{ ad.category.category_name }}</p>
                            <p>{{ ad.text.html | truncatewords_html:5 | truncatechars_html:60 | safe }}</p>
                        </div>
                    {% include 'ad_board/response_button.html' with ad=ad responded=ad.responded %}
                </div>
            {% endfor %}

            {# Ad board pagination #}
            {% include 'pagination.html' %}

        {% else %}
            <h2>{% trans "No Posts" %}</h2>
        {% endif %}
    </div>

    <style>
        #toggle-filter-form, #clear-filter {
            margin-bottom: 10px;
            display: inline-block;
            margin-right: 10px;
        }
        #applied-filters {
            margin-bottom: 10px;
            font-size: 14px;
        }
    </style>
{% endblock content %}
