{% load i18n %}

<div class="ad-footer">
    {% if request.user.is_authenticated %}
        {% if request.user != ad.user and ad.is_published %}
            {% if responded %}
                <p>{% trans 'You have already sent a request for this ad' %}</p>
            {% else %}
                <a href="{% url 'respond_to_ad' ad.id %}" class="response-button">{% trans 'Response' %}</a>
            {% endif %}
        {% elif not ad.is_published %}
            <p class="unpublished">{% trans 'Ad is not published' %}</p>
        {% endif %}
    {% else %}
        <a href="{% url 'account_login' %}" class="response-button">{% trans 'Login to respond' %}</a>
    {% endif %}
</div>
