{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
    {{ user.username }}'s Profile
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="profile-header">
            {% if user.avatar %}
                <div class="profile-photo">
                    <img src="{{ user.profile.photo.url }}" alt="{% trans 'Profile photo' %}" />
                </div>
            {% else %}
                <div class="profile-photo">
                    <img src="{% static 'images/avatars/default.png' %}" alt="Default Avatar" />
                </div>
            {% endif %}
            <div class="profile-info">
                <h2>{{ user.nickname }}</h2>
                {% if user.is_banned %}
                    <span class="badge badge-danger">{% trans 'banned' %}</span>
                {% endif %}
                {% if user.is_superuser %}
                    <span class="badge badge-superadmin">{% trans 'super admin' %}</span>
                {% elif user.is_staff %}
                    <span class="badge badge-admin">{% trans 'admin' %}</span>
                {% elif is_moderator %}
                    <span class="badge badge-moderator">{% trans 'moderator' %}</span>
                {% endif %}
                
            
                <p><strong>{% trans 'Last visit' %}:</strong> {{ user.last_login }}</p>
                <p><strong>{% trans 'First name' %}:</strong> {{ user.first_name }}</p>
                <p><strong>{% trans 'Last name' %}:</strong> {{ user.last_name }}</p>
                <p><strong>{% trans 'Gender' %}:</strong> {{ user.gender }}</p>
                <p><strong>{% trans 'Date of Birth' %}:</strong> {{ user.date_birth }} ({% trans 'age' %}: {{ user.age }})</p>
                <p><strong>{% trans 'Phone number' %}:</strong> {{ user.phone_number }}</p>
            </div>
        </div>

        <div class="profile-contacts">
            {% if user.discord_url_profile %}
                <p><strong>Discord:</strong> {{ user.discord_url_profile }}</p>
            {% endif %}
            {% if user.steam_url_profile %}
                <p><strong>Steam:</strong> <a href="{{ user.steam_url_profile }}">Профиль</a></p>
            {% endif %}
            {% if user.telegram_nickname %}
                <p><strong>Telegram:</strong> <a href="{{ user.telegram_link }}">@{{ user.telegram_nickname }}</a></p>
            {% endif %}
        </div>

        <div class="profile-about">
            {% if user.about_me %}
                <h3>{% trans 'About me' %}</h3>
                <p>{{ user.about_me }}</p>
            {% endif %}
        </div>
    
        {% if request.user.is_authenticated and user == request.user %}
            <div class="profile-actions">
                <a href="{% url 'account_logout' %}" class="btn btn-secondary">{% trans 'Logout' %}</a>
                <a href="{% url 'profile_update' user.id %}" class="btn btn-primary">{% trans 'Edit Profile' %}</a>
                <a href="{% url 'profile_deactivate_url' user.id %}" class="btn btn-danger">{% trans 'Delete Account' %}</a>
            </div>
        {% endif %}
    </div>

    <style>
        .profile-header {
            display: flex;
            align-items: center;
        }
        .profile-photo img {
            border-radius: 5%;
            width: 250px;
            height: 250px;
            background-color: #ffffff;
        }
        .profile-info {
            margin-left: 20px;
        }
        .profile-info p, .profile-info h2 {
            margin: 0;
            padding: 5px 0;
        }
        .profile-contacts p, .profile-about p {
            margin: 0;
            padding: 5px 0;
        }
        .profile-about {
            margin-top: 20px;
        }
        .profile-actions {
            margin-top: 20px;
        }
        .profile-actions .btn {
            margin-right: 10px;
        }
        
    </style>
{% endblock content %}
