{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{{ flatpage.title }}{% endblock title %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% include 'django_quill/media.html' %}

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href={% static "css/style.css" %}>
</head>
<body>

<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar" class="active">
        <h4><a href="#" class="logo">  <!-- НАДО ЗАМЕНИТЬ ССЫЛКУ И ЛОГО!!! -->
            Guild Hub
        </a></h4>
        <ul class="list-unstyled components mb-5">
            <li class="active">
                <a href="#"><span class="fa fa-home"></span> {% trans 'News' %}</a>
            </li>
            <li>
                <a href={% url 'ad_board' %}><span class="fa fa-clipboard"></span> {% trans 'Ad board' %}</a>
            </li>
            <li>
                <a href="#"><span class="fa fa-trophy"></span> {% trans 'Leagues' %}</a>
            </li>
            <li>
                <a href="#"><span class="fa fa-group"></span> {% trans 'Teams' %}</a>
            </li>
            <li>
                <a href="#"><span class="fa fa-user"></span> {% trans 'Gamers' %}</a>
            </li>
            <li>
                <a href="#"><span class="fa fa-lightbulb-o"></span> {% trans 'Ideas' %}</a>
            </li>
        </ul>

{#        <div class="footer">#}
{#            <p>#}
{#                Copyright &copy;<script>document.write(new Date().getFullYear());</script>#}
{#                All rights reserved <br> by <a class="text-light" href="https://t.me/COBA_B_HOCKAX" target="_blank">COBA_B_HOCKAX</a>#}
{#            </p>#}
{#        </div>#}
    </nav>

    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="btn btn-primary">
                    <i class="fa fa-bars"></i>
                    <span class="sr-only">{% trans 'Toggle Menu' %}</span>
                </button>
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- НАСТРОИТЬ ОТОБРАЖЕНИЕ В ЗАВИССИМОСТИ ОТ ЗАЛОГИНЕННОСТИ -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    {% if user.is_authenticated %}
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">{% trans 'Chats' %}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">{% trans 'My response' %}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">{% trans 'My ads' %}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href={% url 'profile' current_user.id %}>{{ current_user }}</a>
                            </li>
                        </ul>
                    {% else %}
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href={% url 'account_login' %}>{% trans 'Login' %}</a>
                            </li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </nav>
        {% block content %}{{ flatpage.content }}{% endblock content %}
        {#        <h2 class="mb-4">Sidebar #07</h2>#}
        {#        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>#}
        {#        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>#}
    </div>
</div>

<!-- Подвал -->
<footer class="footer mt-auto py-3" style="background-color: #e9ecef;">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h5 style="color: #343a40;">Site Appearance</h5>
                <ul class="list-unstyled">
{#                    <li>#}
{#                        <div class="form-check form-switch">#}
{#                            <input class="form-check-input" type="checkbox" id="darkModeSwitch">#}
{#                            <label class="form-check-label" for="darkModeSwitch" style="color: #343a40;">Dark Mode</label>#}
{#                        </div>#}
{#                    </li>#}
                    <li><a class="text-dark">WIP!</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5 style="color: #343a40;">Account</h5>
                <ul class="list-unstyled">
                    <li><a href="{% url 'account_login' %}" class="text-dark">Login</a></li>
                    <li><a href="{% url 'account_signup' %}" class="text-dark">Sign Up</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5 style="color: #343a40;">Sections</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-dark">Home</a></li>
                    <li><a href="{% url 'ad_board' %}" class="text-dark">Ad Board</a></li>
                    <li><a href="#" class="text-dark">Leagues</a></li>
                    <li><a href="#" class="text-dark">Teams</a></li>
                    <li><a href="#" class="text-dark">Gamers</a></li>
                    <li><a href="#" class="text-dark">Ideas</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5 style="color: #343a40;">Information</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-dark">Terms of Service</a></li>
                    <li><a href="#" class="text-dark">Privacy Policy</a></li>
                    <li><a href="#" class="text-dark">Developers</a></li>
                </ul>
            </div>
        </div>
        <div class="text-center py-3">
            <p class="mb-0" style="color: #343a40;">
                &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved by <a href="https://t.me/COBA_B_HOCKAX" class="text-dark" target="_blank">COBA_B_HOCKAX</a>
            </p>
        </div>
    </div>
</footer>


<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/popper.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script>
    // Toggle dark mode
    const darkModeSwitch = document.getElementById('darkModeSwitch');
    darkModeSwitch.addEventListener('change', (event) => {
        document.body.classList.toggle('dark-mode', event.target.checked);
        localStorage.setItem('dark-mode', event.target.checked);
    });

    // Retain dark mode state
    const darkModeEnabled = JSON.parse(localStorage.getItem('dark-mode'));
    if (darkModeEnabled) {
        document.body.classList.add('dark-mode');
        darkModeSwitch.checked = true;
    }
</script>
</body>
</html>